services:
  janus:
    image: canyan/janus-gateway:latest
    container_name: janus
    ports:
      - "8088:8088/tcp"
      - "8188:8188/tcp"
      - "10000-10200:10000-10200/udp"
    volumes:
      - ./janus/janus.jcfg:/usr/local/etc/janus/janus.jcfg:ro
      - ./janus/janus.plugin.videoroom.jcfg:/usr/local/etc/janus/janus.plugin.videoroom.jcfg:ro
    dns:
      - 178.22.122.101
      - 185.51.200.1

  capture:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        HTTP_PROXY: ${HTTP_PROXY:-}
        HTTPS_PROXY: ${HTTPS_PROXY:-}
        ALL_PROXY: ${ALL_PROXY:-}
        NO_PROXY: ${NO_PROXY:-}
    image: webrtc-capture:latest
    container_name: webrtc-capture
    depends_on:
      - janus
    environment:
      RTP_URL: ${RTP_URL:-/app/config/rtp.sdp}
      OUT_DIR: /app/out
      WRITE_IMAGES: ${WRITE_IMAGES:-1}
      WRITE_VIDEO: ${WRITE_VIDEO:-1}
      FPS: ${FPS:-30}
    volumes:
      - ./out:/app/out
      - ./config/rtp.sdp:/app/config/rtp.sdp:ro
    dns:
      - 178.22.122.101
      - 185.51.200.1
